---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-1/3">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24"
  >

    <svg width="180" height="60" viewBox="0 0 118.264 19.715" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M7.126 25.17V6.213h9.696q3.737 0 5.578 1.38 1.842 1.355 1.842 3.576 0 1.462-.785 2.572-.759 1.084-2.167 1.734-1.381.622-3.304.622l.542-1.3q2.004 0 3.493.623 1.49.596 2.302 1.76.84 1.138.84 2.79 0 2.464-2.004 3.846-1.977 1.354-5.796 1.354zm5.308-3.873h4.496q1.381 0 2.085-.46.731-.488.731-1.463 0-.975-.73-1.435-.705-.488-2.086-.488h-4.875v-3.71h4.062q1.355 0 2.032-.46t.677-1.381q0-.921-.677-1.354-.677-.46-2.032-.46h-3.683zm13.243 3.873 8.368-18.957h5.281l8.395 18.957h-5.578L35.589 8.84h2.112l-6.553 16.33zm4.577-3.683 1.381-3.954h9.262l1.381 3.954zm28.165 4.062q-2.248 0-4.171-.704-1.896-.732-3.304-2.058-1.381-1.327-2.166-3.115-.786-1.814-.786-3.98 0-2.167.786-3.955.785-1.814 2.166-3.141 1.408-1.327 3.304-2.031 1.923-.731 4.17-.731 2.627 0 4.686.92 2.085.921 3.466 2.654l-3.412 3.088q-.921-1.084-2.031-1.652-1.084-.57-2.438-.57-1.164 0-2.14.38-.974.38-1.678 1.11-.677.705-1.083 1.707-.38 1.002-.38 2.22 0 1.219.38 2.22.406 1.003 1.083 1.734.704.704 1.679 1.083.975.38 2.14.38 1.353 0 2.437-.57 1.11-.568 2.03-1.651l3.413 3.087q-1.381 1.706-3.466 2.654-2.059.92-4.685.92zm15.328-4.577-.298-6.012L81.6 6.213h5.904l-8.124 8.801-2.98 3.115zm-4.794 4.198V6.213h5.308V25.17zm12.728 0-6.174-7.827L79 13.606l8.91 11.564zm16.114.379q-4.198 0-6.554-2.302t-2.356-6.527V6.213h5.362v10.345q0 2.437.948 3.493.975 1.056 2.654 1.056 1.68 0 2.627-1.056.948-1.056.948-3.493V6.213h5.28V16.72q0 4.225-2.355 6.527-2.357 2.302-6.554 2.302zm19.2 0q-2.328 0-4.495-.569-2.14-.596-3.493-1.516l1.76-3.954q1.273.812 2.925 1.354 1.679.514 3.33.514 1.111 0 1.788-.19.677-.216.975-.54.325-.353.325-.813 0-.65-.596-1.03-.596-.379-1.544-.622-.947-.244-2.112-.488-1.137-.244-2.302-.623-1.137-.379-2.085-.975-.948-.622-1.544-1.597-.596-1.002-.596-2.519 0-1.706.921-3.087.948-1.381 2.817-2.22 1.868-.84 4.658-.84 1.868 0 3.656.433 1.814.406 3.222 1.219l-1.652 3.98q-1.354-.73-2.68-1.083-1.328-.379-2.573-.379-1.11 0-1.788.244-.677.216-.975.596-.298.379-.298.866 0 .623.57 1.002.595.352 1.543.596.975.217 2.112.46 1.165.244 2.302.623 1.165.352 2.112.975.948.596 1.517 1.598.596.975.596 2.464 0 1.652-.948 3.06-.92 1.382-2.79 2.221-1.841.84-4.657.84z"
        style="font-weight:800;font-size:44.9945px;line-height:0;font-family:Montserrat;-inkscape-font-specification:'Montserrat Ultra-Bold';fill:#6b7280;stroke-width:.136473"
        aria-label="BACKUS" transform="translate(-7.126 -5.834)" />
    </svg>
    <svg width="160" height="40" viewBox="0 0 84.434 43.474" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M52.957 52.638v-5.131l-.66-1.27v-9.449q0-2.286-1.423-3.505-1.372-1.27-4.42-1.27-1.981 0-4.013.66-2.032.61-3.454 1.728l-3.252-6.554q2.337-1.524 5.588-2.336 3.302-.864 6.554-.864 6.705 0 10.363 3.099 3.708 3.048 3.708 9.601v15.29zm-8.128.457q-3.302 0-5.588-1.118-2.286-1.117-3.506-3.048-1.168-1.93-1.168-4.318 0-2.54 1.27-4.368 1.32-1.88 4.013-2.845 2.693-1.016 6.96-1.016h6.502v5.029h-5.181q-2.337 0-3.302.762-.915.762-.915 2.032t.965 2.032q.966.762 2.642.762 1.575 0 2.845-.762 1.32-.813 1.93-2.438l1.321 3.556q-.762 2.844-2.997 4.318-2.185 1.422-5.791 1.422zm23.215-.457V25.104h9.652v27.534zm4.826-30.582q-2.641 0-4.267-1.473-1.626-1.473-1.626-3.658 0-2.184 1.626-3.657 1.626-1.473 4.267-1.473 2.642 0 4.267 1.422 1.626 1.372 1.626 3.556 0 2.286-1.626 3.81-1.574 1.473-4.267 1.473zm28.397 31.039q-3.708 0-6.197-1.524-2.439-1.524-3.658-4.674-1.219-3.15-1.219-8.077 0-4.826 1.27-7.975 1.32-3.15 3.81-4.674 2.49-1.524 5.994-1.524 3.76 0 6.808 1.727 3.098 1.727 4.876 4.928 1.83 3.15 1.83 7.518 0 4.42-1.83 7.62-1.778 3.15-4.876 4.928-3.048 1.727-6.808 1.727zm-17.322-.457V14.944h9.652v14.783l-.508 9.093.05 9.093v4.725zm15.29-7.214q1.626 0 2.896-.762 1.32-.762 2.083-2.235.813-1.524.813-3.607t-.813-3.505q-.762-1.473-2.083-2.235-1.27-.762-2.896-.762-1.625 0-2.946.762-1.27.762-2.083 2.235-.762 1.422-.762 3.505t.762 3.607q.813 1.473 2.083 2.235 1.32.762 2.946.762z"
        style="font-weight:800;font-size:50.8px;line-height:0;font-family:Montserrat;-inkscape-font-specification:'Montserrat Ultra-Bold';white-space:pre;inline-size:100.589;fill:#6b7280;stroke-width:.256"
        transform="matrix(1.05263 0 0 1.05263 -36.386 -12.415)" aria-label="aib" />
    </svg>

    <svg width="200" height="70" viewBox="0 0 206.238 27.819" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M9.963 28.876V8.126H1.747v-6h23.96v6h-8.178v20.75zm18.571 0V2.126h12.228q3.668 0 6.305 1.186 2.675 1.184 4.127 3.439 1.452 2.216 1.452 5.273 0 3.019-1.452 5.235-1.452 2.178-4.127 3.363-2.637 1.146-6.305 1.146h-8.025l3.363-3.172v10.28zm16.546 0L38.43 19.13h8.063l6.687 9.745zm-8.98-9.477-3.363-3.477h7.566q2.37 0 3.516-1.032 1.185-1.032 1.185-2.866 0-1.872-1.185-2.904-1.146-1.032-3.516-1.032h-7.566L36.1 4.611zM70.3 29.41q-3.21 0-5.923-1.032t-4.738-2.904q-1.987-1.91-3.095-4.433-1.109-2.522-1.109-5.54 0-3.02 1.109-5.542 1.108-2.522 3.095-4.394 2.025-1.91 4.738-2.942Q67.09 1.592 70.3 1.592q3.248 0 5.923 1.032 2.713 1.031 4.7 2.942 1.987 1.872 3.095 4.394 1.147 2.522 1.147 5.541 0 3.019-1.147 5.58-1.108 2.521-3.095 4.394-1.987 1.872-4.7 2.904-2.675 1.032-5.923 1.032zm0-6.267q1.529 0 2.828-.535 1.337-.535 2.293-1.529.993-1.031 1.528-2.445.573-1.414.573-3.134 0-1.758-.573-3.133-.535-1.414-1.528-2.408-.956-1.031-2.293-1.566-1.3-.535-2.828-.535-1.528 0-2.866.535-1.299.535-2.293 1.566-.955.994-1.528 2.408-.535 1.375-.535 3.133 0 1.72.535 3.134.573 1.414 1.528 2.445.994.994 2.293 1.529 1.338.535 2.866.535zm18.839 5.732V2.126h12.228q3.668 0 6.305 1.186 2.675 1.184 4.127 3.439 1.452 2.216 1.452 5.273 0 3.019-1.452 5.235t-4.127 3.44q-2.637 1.184-6.305 1.184h-8.025l3.363-3.287v10.28zm7.566-9.477-3.363-3.477h7.566q2.37 0 3.516-1.032 1.184-1.032 1.184-2.866 0-1.872-1.184-2.904-1.147-1.032-3.516-1.032h-7.566l3.363-3.477zm20.214 9.477V2.126h7.566v26.75zm26.29.535q-3.171 0-5.884-.994-2.675-1.032-4.662-2.904-1.949-1.872-3.057-4.395-1.108-2.56-1.108-5.617t1.108-5.579q1.108-2.56 3.057-4.432 1.987-1.873 4.662-2.866 2.713-1.032 5.884-1.032 3.707 0 6.611 1.3 2.943 1.298 4.891 3.744l-4.814 4.356q-1.3-1.528-2.866-2.33-1.529-.803-3.44-.803-1.643 0-3.018.535-1.376.535-2.37 1.566-.955.994-1.528 2.408-.535 1.414-.535 3.133 0 1.72.535 3.134.573 1.414 1.529 2.445.993.994 2.369 1.529 1.375.535 3.019.535 1.91 0 3.439-.803 1.566-.802 2.866-2.33l4.814 4.356q-1.948 2.407-4.89 3.744-2.905 1.3-6.612 1.3zm11.202-.535 11.808-26.75h7.451l11.846 26.75h-7.872l-9.247-23.042h2.98l-9.247 23.042zm6.458-5.197 1.949-5.58h13.068l1.95 5.58zm26.787 5.197V2.126h7.566v20.75h12.763v6z"
        style="font-weight:800;font-size:35.9472px;line-height:0;font-family:Montserrat;-inkscape-font-specification:'Montserrat Ultra-Bold';fill:#6b7280;stroke-width:.192565"
        aria-label="TROPICAL" transform="translate(-1.747 -1.592)" />
    </svg>
  </div>
</section>
