@tailwind base;
@tailwind components;
@tailwind utilities;

.tipografia-lora {
    font-family: 'Lora Variable', serif;
}

.tipografia-manrope {
    font-family: 'Manrope Variable', sans-serif;
}

.tipografia-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.tipografia-roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}